<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Organizer Sign In</title>
  
  <link rel="stylesheet" href="../css/organiser.css">
  <!---font --->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />


</head>
<body>

  <div class="container">
    <h2>Organizer Sign In</h2>
    <form>
      <label for="orgname">Full Name</label>
      <input type="text" id="orgname" placeholder="Enter your full name" required>

      <label for="orgemail">Official Email</label>
      <input type="email" id="orgemail" placeholder="Enter your club or college email" required>

      <label for="designation">Designation</label>
      <input type="text" id="designation" placeholder="e.g., Club President, Event Head" required>

      <label for="clubname">Club / Organization Name</label>
      <input type="text" id="clubname" placeholder="e.g., Code Club, Robotics Society" required>

      <label for="password">Password</label>
      <input type="password" id="password" placeholder="Create password" required>

      <label for="confirm">Confirm Password</label>
      <input type="password" id="confirm" placeholder="Re-enter password" required>

      <button type="submit">Sign In</button>
    </form>
  </div>

</body>
</html>
